apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: shared-services
data:
  init-databases.sh: |
    #!/bin/bash
    set -e

    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" <<-EOSQL
        SELECT 'CREATE DATABASE paperless' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'paperless')\gexec
        SELECT 'CREATE DATABASE wallabag' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'wallabag')\gexec
        SELECT 'CREATE DATABASE miniflux' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'miniflux')\gexec
    EOSQL
